@page "/about"

<h1>About</h1>

<p>
    Entwicklung und Support, Reporting, Database
</p>

<address>
    Non Convex GmbH c/o Intracont GmbH<br />
    Zugerstrasse 76B, 6340 Baar, Schweiz<br />
    Mobile: <a href="tel:+41 76 747 61 35">+41 76 747 61 35</a>
</address>

<address>
    <strong>Single point of contact:</strong> <a href="mailto:alexander.brockhaus@nonconvex.ch">Alexander.Brockhaus@nonconvex.ch</a><br />
</address>