@page "/development"

<h1>Entwicklung</h1>

<p>
    Unsere Erfahrung umfasst C# und gelegentlich VB Entwicklung. Wir arbeiten meistens mit WinForms für die Benutzeroberflächen. Für besonders schnelle Entwicklung der Reports greifen wir häufig zu SSRS. Die Dokumentenerstellung und anspruchsvolle Reports entwickeln wir unter Einsatz von Interop für MS Office.
</p>

<p>
    Die meisten Back-End Aufgaben gehen wir in der jeweiligen SQL Server oder Oracle Datenbank an. Wir haben Erfahrung mit der Entwicklung umfangreicher Anwendungen in T-SQL und PL/SQL.
</p>

<p>
    Für Integrationsaufgaben greifen wir häufig zu SSIS und Azure Data Factory. In speziellen Fällen erstellen wir auch Integrations- und Transformationsanwendungen in C#.
</p>