@page "/"

<h1>Entwicklung, Optimierung, Integration</h1>

<p>
    Wir entwickeln in für Sie schnell und zuverlässig ihre massgeschneiderte Geschäftsanwendungen. Unsere Erfahrung umfasst Handel (Commodities), Private Equity, Zahlungsverkehr, Transport und Logistik, Utilities.
</p>
<p>
    Unser Fokus liegt in der schnellen und kosteneffizienten Lösung.
</p>
<p>
    Kontaktieren Sie uns, um mehr zu erfahren.
</p>


<address>
    Non Convex GmbH c/o Intracont GmbH<br />
    Zugerstrasse 76B, 6340 Baar, Schweiz<br />
    Mobile: <a href="tel:+41 76 747 61 35">+41 76 747 61 35</a>
</address>

<address>
        <strong>Single point of contact:</strong> <a href="mailto:alexander.brockhaus@nonconvex.ch">Alexander.Brockhaus@nonconvex.ch</a><br />
</address>